.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
  padding: 3rem 0;
  height: 100%;
}

.contact__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-top: 150px;
}

.contact__right h2,
.contact__left h2 {
  background: linear-gradient(90deg, #ededed 40%, #cfe033 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

.contact__center h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;

  background: linear-gradient(90deg, #ededed 40%, #cfe033 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;

  padding-bottom: 12rem;
}

.contact__right,
.contact__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

.contact__info {
  font-size: 1.1rem;
}

.contact__address {
  padding-bottom: 2rem;
  font-size: 1.1rem;
}
