.services {
  padding: 0rem 0 1rem 0;
  height: 100%;
}

.services__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-align: left;
  padding-left: 2rem;
}

.services__title-gradient {
  background: linear-gradient(90deg, #4f8cff 0%, #a259ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}

.card {
  min-width: 350px;
  max-width: 500px;
}
