.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
  overflow-y: auto;
  scrollbar-width: none; 
}

.portfolio__list::-webkit-scrollbar {
  display: none;
}


.portfolio__list > div {
  flex: 0 0 calc(33.333% - 1.34rem);
  max-width: calc(33.333% - 1.34rem);
  height: 45%; 
  box-sizing: border-box;

 
  
}

@media (max-width: 820px) {
  .portfolio__list > div {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    height: 200px; 
  }
}
@media (max-width: 580px) {
  .portfolio__list > div {
    flex: 0 0 calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    height: 180px; 
  }
}
@media (max-width: 420px) {
  .portfolio__list > div {
    height: 150px;
   
  }
  .portfolio__list {
  margin: 0;
   width: 90%;
 

}
}
