
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.main-content {
  padding: 2rem 0;
  height: 68vh;
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
  font: inherit;
}


@media (max-width: 768px) {
  
  .main-content {
  padding: 1rem 0;
  height: auto;
}
}