:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    background: linear-gradient(135deg, #232946 0%, #1a2233 100%);
    color: #f4f4f4;
   max-height: 100vh;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}